@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  background-color: #333;
  
  color: white;
  text-align: center;
  
  margin-top: auto;
  padding: 1rem;
}

.hero-header{
  margin: 0 auto;
  width: 1000px;
}








